.multiselect {
  width: 350px;
}

.multiselect > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #848484;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  min-height: 32px;
}

.multiselect > header > button[type="reset"] {
  display: none;
}

.multiselect > .multiselect__checkbox {
  padding: 0.25rem 0;
}

.multiselect:has(input:checked) button[type="reset"] {
  display: block;
}
